<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href=`http://${domain}:3000/bootstrap/dist/css/bootstrap.min.css`)
        link(rel="stylesheet", href=`http://${domain}:3000/new-article.css`)
    body
        div.navbar
            a.link(href=`http://${domain}:3000`) Home
        div.container
            div.heading
                h2 New Article
            div.form
                form(action=`/articles`, method="post")
                    div.form-group
                        label Title : 
                        input(type="text" name="title", min=10)
                    div.form-group
                        label Description : 
                        input(type="text" name="description", min=25)
                    div.form-group
                        label Markdown : 
                        textarea(name="markdown", cols="25", rows="10", min=30)
                    div.form-group
                        button.btn.btn-success(type="submit") Submit