<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= article.title
    body
        div
            navbar 
                a(href=`http://192.168.43.206:3000`) Home
        div 
            h1= article.title
        div
            p= article.markdown