.article {
    width: 95%;
    max-width: 700px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 1px rgb(117, 101, 101);
}

.article-info {
    min-width: 300px;
}

.article-action {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.article-container {
    margin-bottom: 60px;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.date {
    color: grey;
}

.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-color: rgb(31, 27, 27);
    color: white;
    text-align: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}