.article {
    width: 95%;
    max-width: 700px;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgb(102, 91, 91);
}