.container {
    width: 90%;
    max-width: 700px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2px;
}

.navbar {
    background-color: rgb(41, 46, 68);
    margin-bottom: 20px;
    width: 100%;
    padding: 0px;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}